.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid;
}

.navBar-center{
    display: flex;
}

.navBar-center-text{
    margin-right: 1rem;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
}

.navBar-center-text:hover{
    background: #eee;
}