.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid;
}

.title-text{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navBar-center{
    display: flex;
}

.navBar-center-text{
    margin-right: 1rem;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navBar-center-text:hover{
    background: #eee;
}